/*

h1 {
    font-weight: normal;
    padding: .5em;
    margin: 0;
}

#messages {
    background: #333;
    width: 100%;
    height: 20em;
    overflow-y: scroll;
}

.msg {
    background: #444;
    padding: .2em 1em;
    margin: .2em 0;
}

#input-form {
    margin: 1em;
}

#input {
    border: solid #ddd 2px;
    padding: .1em .2em;
    background: #333;
    color: #fff;
    font-size: 1.2em;
}

#submit {
    border-radius: .5em;
    border: solid #999 2px;
    padding: .1em .2em;
    background: #333;
    color: #fff;
    font-size: 1.2em;
}

#userCount {
    padding: 0em 1em 1em;
}*/

html, body, #main {
    height:100%
}

#main-container{
    height: 90%
}

#chat-sidebar{
    height: 100%
}

#chat-messages{
    overflow-y: scroll;
    height: 80%
}

#chat{
    border:3px solid #FFF;
    padding: 10px;
    height:90%;
}



.chat_list .list-group-item {
    padding: 5px 4px;
    min-height: 50px;
}
@media (max-width: 768px) {
    .chat_list .list-group-item {
        min-height: inherit;
    }
}
.chat_list .list-group-item-text {
    word-wrap: break-word;
    display: flex;
    overflow: auto;
}
.chat_list .pull-left {
    width: 55px;
    text-align: center;
}
